.filter-block {
  display: flex;
  align-items: center;
}

.select {
  width: 264px;
  height: 48px;
  padding: 12px 0 13px 13px;
  margin-right: 14px;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  color: #484848;
  font-family: PT Sans;
}

.price-select {
  display: flex;
  align-items: center;
}

.price-search-block {
  position: relative;
}

.price-search {
  padding: 14px 10px 13px 26px;
  text-align: right;
  border: 1px solid #d0d0d0;
  width: 132px;
  height: 48px;
}

.price-search:nth-last-of-type() {
  border-left: none;
}

.price-search::placeholder {
  color: #484848;
  font-weight: 700;
  font-size: 16px;
}

.price-select label {
  position: absolute;
  top: 13px;
  left: 11px;
}

.price-select-text {
  padding: 0 13px 0 14px;
  min-width: fit-content;
  color: #484848;
  font-size: 16px;
}